[submodule "mainWebService"]
	path = mainWebService
	url = https://github.com/futfff/dis_cop
	branch = main
[submodule "webSocketService"]
	path = webSocketService
	url = https://github.com/futfff/dis_cop-ws
	branch = main