.self__self{
    width: 100%;  
    display: flex;
    flex-direction: column;
   
    padding: 20px 30px;
    .friends__text{
        color:white;
        margin-bottom: 20px ;
        width: 100%;
    }
    .add_friend_container{
        width: 100%;
        display: flex;
        
        align-items: center;
        height: 50px;
        padding: 5px 5px 5px 10px;
        border-radius: 8px;
        background-color: #212024;
        border: rgba(0, 0, 0, 0) solid 1px;
        &:focus-within{
            border: #03d3fc solid 1px;
        }
        input{
            height: 100%;
            flex-grow: 1;
            font-family: 'Raleway', sans-serif;
            border: none;
            font-size: 15px;
            color: white;
            background-color: #00000000;
            &:focus-visible{
                outline: none;
            }
        }
        .but{
            color: white;
            outline: none;
            height: 32px;
            border-radius: 5px ;
            box-shadow : none;
            padding: 5px 10px;
            margin : 0 10px;
            border: none;
            background-color: #6368ff;
            transition: all ease-in-out 0.1s;
            &:hover{
                background-color: #565adb;
            }
        }
    }
    .check{
        height: 40px;
        font-weight: 400;
        margin-top: 10px;
        width: 100%;
        color : #42d66b;
        display: flex;
        align-items: center;
        .user_name{
            font-weight: 600;
            margin-left: 5px ;
            color:#39d464;
            
        }
    }
    label{
        width: 100%;
        color: #b5b3b3;;
        padding: 12px 0px 6px 0px;
        user-select: none;
    }

            .friend__ava{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
            .friend__user_info{
                flex-grow: 1;
                .friend__name{
                    color: white;
                    font-size: 18px;
                }
                .friend__some{
                    color:#b5b3b3;
                    font-size: 15px;
                }

            }
            .friend__accept{
                background-color: #00a629;
                &:after{
                    content: 'Принять';
                }
            }
            .friend__reject{
                background-color: #a60000;
                &:after{
                    content: 'Отклонить';
                }
            }
            .friend__del{  
                
                white-space: nowrap;
                background-color: #a60000;
                &:after{
                    content: 'Удалить из друзей';
                }
            }
            .friend__cancel{
                white-space: nowrap;
                background-color: #a60000;
                &:after{
                    content: 'Отмена';
                }
            }
            .friend__but{
                position: relative;
                font-size: 20px;
                margin-right: 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                &:hover{
                    cursor: pointer;
                    &:after{
                        z-index: 3;
                        opacity: 1;
                        transform: scale(1);
                    }
                }
                &:after{
                    z-index: -100;
                    box-shadow: -2px 2px 10px rgba(0 , 0 , 0 , 0.3);    
                    transition: transform ease-in-out 0.05s;
                    display: block;
                    opacity: 0;
                    transform: scale(0.97);
                    position: absolute;
                    bottom:48px;
                    padding: 5px 10px;
                    background-color: black;
                    color:white;
                    border-radius: 5px;
                    font-size: 13px;
                    margin-top: 20px ;
                }
        &:hover{
            background-color: rgba(68, 70, 77 , 0.5);
        }

    }
}

.self__top{
    display: flex;
    color : white;
    align-items: center;
    height: 100%;
    .top__content{
        flex-grow: 1;
        align-items: center;
        display: flex;
        .label{
            user-select: none;
            margin: 0 20px;
            display: flex;
            align-items: center;
            i{
                font-size: 20px;
                color: #b5b3b3;
                margin-right: 6px;
            }
        }
        .stick{
            height: 30px;
            width: 1px;
            background-color: rgba(68, 70, 77 , 0.8);
        }
        .utils{
            margin-left: 10px;
            display: flex;
            a{
                font-size: 15px;
                margin: 0 6px;
                border-radius: 4px;
                align-items: center ;
                display: flex;
                padding: 4px 10px;
                color:white;
                text-decoration: none;
                &:hover{
                    background-color: rgba(68, 70, 77 , 0.5);
                }
                
                .red_circle{
                    margin-left: 5px;
                    .core{
                        width: 5px;
                        height: 5px;
                        border-radius: 50% ;
                        background-color: white;
                    }
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content:  center;
                    background-color: red;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                }
            }
            .friend_tab{
                background-color: rgba(68, 70, 77 , 0.7) !important;
            }
            .friend_tab_add{
                background-color: transparent !important;
                color : #42d66b !important;
            }
            .add{
                background-color: #00a629;
                &:hover{
                    background-color:#00a629 ; 
                }
            }
        }
    }
}