.tab {
    background-color: rgba(68, 70, 77, 0.7) !important;
  }
  
  .red_circle {
    .core {
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: white;
    }
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  
